{% extends 'layouts/base.html.twig' %}

{% block title %}Safer Biens
{% endblock %}

{% block body %}
	<main id="main">
		<!-- ======= Intro Single ======= -->
		<section class="intro-single">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-8">
						<div class="title-single-box">
							<h1 class="title-single">{{ bien.intitule }}</h1>
							<h4 class="color-text-a">{{bien.localisation}}
								{{bien.type}}</h4>

							<h4 class="color-text-a">{{bien.categorie}}</h4>
						</div>
					</div>

					<div class="col-md-12 col-lg-4">
						<nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item">
									<a href="property-grid.html">Biens</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									{{bien.reference}}
								</li>
							</ol>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Intro Single-->

	<!-- ======= Property Single ======= -->
	<section class="property-single nav-arrow-b">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="img-box-a" style="width:100%; height: 400px;">
							{% set str1 = "assets/img/" %}
							{% set str2 = bien.reference %}
							{% set str3 = ".jpg" %}
							{% set image = str1 ~ str2 ~ str3 %}
									
							<div style="width: 100%; height: 100%;">
								<img src="{{asset(image)}}" style="width: 100%; height: 100%;" onerror="this.src='{{asset('assets/img/64.03.60.jpg')}}'">
							</div>
						</div>
				</div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-sm-12">


					<div class="col-md-7 col-lg-7 section-md-t3">
						<div class="row">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Description du Bien</h3>
								</div>
							</div>
						</div>
						<div class="property-description">
							<p class="description color-text-a">
								{{bien.descriptif}}
							</p>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">


					<div class="col-md-7 col-lg-7 section-md-t3">
						<div class="row">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Prix</h3>
								</div>
							</div>
						</div>
						<div class="property-description">
							<p class="description color-text-a">
								{{bien.prix}}
							</p>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">


					<div class="col-md-7 col-lg-7 section-md-t3">
						<div class="row">
							<div class="col-sm-12">
								<div class="title-box-d">
									<h3 class="title-d">Surface</h3>
								</div>
							</div>
						</div>
						<div class="property-description">
							<p class="description color-text-a">
								{{bien.surface}}

							</p>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Property Single--></main><!-- End #main -->{% endblock %}
