{% extends 'layouts/base.html.twig' %}

{% block title %}Safer Biens
{% endblock %}

{% block body %}
	<main
		id="main">

		<!-- ======= Intro Single ======= -->

		<section class="intro-single">
			<div class="container">
				<div class="row">
					{% for bien in categorie.biens %}
						<div class="col-md-4">
			<div class="card-box-a card-shadow">
				<div class="img-box-a">
					<img src="{{asset('assets/img/property-1.jpg')}}" alt="" class="img-a img-fluid">
				</div>
				<div class="card-overlay">
					<div class="card-overlay-a-content">
						<div class="card-header-a">
							<h2 class="card-title-a">
								{{ bien.intitule }}
							</h2>
						</div>
						<div class="card-body-a">
							<div class="price-box d-flex">
								<span class="price-a">{{ bien.type }}
									| £
									{{ bien.prix }}</span>
							</div>
							<a href="{{path('app_bien_show',{id:bien.id})}}" class="link-a">Cliquer pour voir les details
								<span class="bi bi-chevron-right"></span>
							</a>
						</div>
						<div class="card-footer-a">
							<ul class="card-info d-flex justify-content-around">
								<li>
									<h4 class="card-info-title"></h4>
									<span>{{ bien.surface }}

									</span>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<p></p>
			<p></p>
		</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</section>
	<!-- End Intro Single-->

	<!-- ======= Property Single ======= -->
	
<!-- End Property Single--></main><!-- End #main -->{% endblock %}
